.nav-button {
    margin: 5px;
}

.moviecard {
    margin: 10px;
    max-width: 400px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.movie-image {
    width: 350px;
  }

.moviecard-button {
    margin: 5px;
}