.movie-card-container {
    margin-top: 100px; /* Adjust this value based on the height of your nav-bar */
    padding: 20px; /* Optional: add some padding for better spacing */
}

.moviecard {
    margin: 10px;
    max-width: 400px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 8px;
}

.card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.movie-image {
    width: 350px;
  }

.moviecard-button {
    margin: 5px;
}

button.favorite {
    color: red; /* Change color for favorite */
}
  
  button.not-favorite {
    color: gray; /* Change color for not favorite */
}