<button
    mat-raised-button
    (click)="backToMovies()"
    color="primary"
    style="margin-right: 10px;"
>
Back to Movies
</button>
<button
    mat-raised-button
    (click)="logout()"
    color="primary"
    style="margin-right: 10px;"
>
Logout
</button>
<div class="main-profile-container">
    <!--logged in user profile at a quick glance-->
    <mat-card class="user-details-card">
      <mat-card-header>
        <mat-card-title class="user-header">Hi, {{user.Username}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Username: </b>{{user.Username}}</p>
        <p><b>Email: </b> {{user.Email}}</p>
      </mat-card-content>
    </mat-card>
  
    <!--updating user info-->
    <mat-card class="update-form">
      <mat-card-header>
        <mat-card-title class="update-form-header">Update Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
            <mat-form-field style="margin-right: 10px;">
                <label>Username</label>
                <input
                    matInput
                    [(ngModel)]="userData.Username"
                    placeholder="Username"
                    type="text"
                    name="Username"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Password</label>
                <input
                    matInput
                    [(ngModel)]="userData.Password"
                    type = "password"
                    placeholder="Password"
                    name="Password"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Email</label>
                <input
                    matInput
                    [(ngModel)]="userData.Email"
                    type = "email"
                    placeholder="Email"
                    name="Email"
                    required
                >
            </mat-form-field>
            <mat-form-field style="margin-right: 10px;">
                <label>Birthday</label>
                <input
                    matInput
                    [(ngModel)]="userData.Birthday"
                    type = "date"
                    placeholder="Birthday"  
                    name="Birthday"
                >
            </mat-form-field>
        </form>
        <mat-card-actions>
          <button mat-raised-button style="margin-right: 40px;" (click)="updateProfile()" color="primary" type="submit">
            Update profile
          </button>
          <button
          mat-raised-button (click)="resetUser()" color="primary" style="margin-right: 40px;"
          >
          Reset Details
          </button>
          <button mat-raised-button (click)="deleteUser()" color="warn">
            Delete profile
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  
    <!--favorites-->
  
    <div class="favs-container">
      <h3>Your Favorite Movies</h3>
      <div class="fav-movies">
        <mat-card *ngFor="let movie of FavoriteMovies;" class="movie-card">
        <mat-card-header>
            <mat-card-title class="card-title">{{movie.Title}}</mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <img class="movie-posters" src="{{movie.ImagePath}}" alt="{{movie.Title}}" />
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="warn"
                (click)="removeFavMovies(movie._id)">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
        </mat-card>
        <div *ngIf="!FavoriteMovies || FavoriteMovies.length === 0">
          <p>You have no favorite movies.</p>
        </div>
      </div>
    </div>
  
  </div>
